@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,ol,ul,dl,dd,p,input,select,textarea,td{
	margin:0;
	padding:0;
}

body{
	font-family:"微软雅黑";
	font-size: 12px;
}
a{
	text-decoration:none;
}
ul,ol{
	list-style:none;
}
img{
	border:0;
	display: block;
}
.header{
	width: 1200px;
	height: 100px;
	/*background: pink;*/
	margin: 0 auto;

}
.header img{
    display: inline-block;

}
.miniheader_right {
    float: right;
    height: 100px;
    line-height: 100px;
    font-size: 14px;
    font-family: 'Microsoft Yahei';
    color: #666;
}
.miniheader_right .right_span {
    margin-left: 60px;
}
.miniheader_right .right_span i {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
    background: url(../img/xiao.png) -76px -60px no-repeat;
}
.login_new_bg {
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: 560px;
    overflow: hidden;
}
.header a{
	width: 1200px;
	height: 560px;
	margin: 0 auto;
}
.imgs{
	width: 100%;
	height: 560px;
	/*left: 50%;
	margin-left: -1000px;*/
	position: absolute;

}


.loginwarpper {
    width: 1200px;
    height: 560px;
    margin: 0 auto;
}
.login {
    width: 100%;
    color: #676767;
    font-size: 14px;
    float: left;
    display: inline;
    zoom: 1;
    background-position: 55px 20px;
}
.loginRightSecond {
   float: right;
    width: 340px;
    height: 520px;
    margin: 20px 0 0 0;
    padding: 0 30px;
    display: inline;
    position: relative;
   font-family: 'Microsoft Yahei';
    background: #fff;
}
.login_new_tabhead {
    width: 340px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Microsoft Yahei';
    color: #333;
}

.login_new_tabhead span.active {
    color: #d70057;
}
.loginRightSecond-top{
    overflow: hidden;
    margin: 30px 0;
    font-family: 'Microsoft Yahei';
}
.loginRightSecond-top h2{
	font-size: 22px;
    font-weight: bold;
    color: #333;
    display: inline-block;
}
.loginRightSecond-top a{
    float: right;
    color: #d70057;
}
.yanjing{
    background: url(../img/pwicon.png) no-repeat;
    width: 20px;
    height: 38px;
    position: absolute;
    z-index: 2;
    right: 22px;
    top: 35px;
    cursor: pointer;

}


.loginRightSecond .input1{
	
    height: 46px;
    width: 327px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
    background: #fff;
    line-height: 46px;
    padding-left: 10px;
    border: 1px solid #e0e0e0;
    margin-top: 10px;

  
}
.dayanjing{
    position: relative;
}
.loginRightSecond .input2{
	    height: 46px;
    width: 327px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
    background: #fff;
    line-height: 46px;
    padding-left: 10px;
    margin:30px 0;
    border: 1px solid #e0e0e0;
  
}

.loginRightSecond .input3{
	    width: 338px;
    height: 50px;
    background: #d70057;
    font-family: 'Microsoft Yahei';
    cursor: pointer;
    margin: 0 0 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    border: 1px solid #e0e0e0;

}
.loginRightSecond .input3:hover{
	background: #df3379;
}

.yanzhengma{
	overflow: hidden;
    width: 340px;
    margin-bottom: 30px;
    float: left;
}
.yanzhengma .input4{
	width: 162px;
    height: 48px;
    line-height: 48px;
    padding-left: 10px;
    font-size: 14px;
    border: 0;
    /*position: absolute;*/
    /*z-index: 1;*/
    border: 1px solid #e0e0e0;

}
.yanzhengma img{
    float: right;
    margin: 7px 1px 0 39px;
    width: 100px;
    height: 36px;
}
.loginRightSecond  .wjmm{
	color: #999;
    font-size: 12px;
}
.loginRightSecond  .wjmm span{
	color: #d70057;
}

.footer-d{
	width: 100%;
   height: 52px;
   background: #f6f6f6;
   position: absolute;
   left: 0;
   bottom: 0;
   display: flex;
	align-items: center;

}
.tubiao {
	width:210px;
	height: 20px;
	float: left;
	display: flex;
	align-items: center;
}
.tubiao a{
	
	width: 40px;
	height:18px;
	border-right: 1px solid #e0e0e0;
	padding: 0 10px;
}

.minifooter {
    height: 28px;
    margin: 80px auto 10px;
    text-align: center;
    color: #999;
    font-size: 12px;
    line-height: 28px;
}